<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>New Purchase for asset #<%= @id %></h1>
    <p>
      A purchase has been made for asset #<%= @id %>
    </p>
    <p>
      The amount for the purchase has been forwarded to your wallet
    </p>
    <p>Thanks for using RealHouse and have a great day!</p>
  </body>
</html>
